.headernav{
    background-color: #FAFAFA;
    -webkit-box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.23);
    box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.23);
}
.headernav .navbar-brand {
    height: 110px;
}
  
.headernav .nav >li >a {
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.headernav .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}